@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }


img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body{
    background-color: silver;
}
.top {
    color: white;
    float: left;
}
.top li{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-family: fantasy;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}
header nav li {
    float: right;
    border-right: 1px solid #bbb;
}
header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
header nav li a:hover {
    background-color:gray;
    text-decoration: none;
}
.card {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: arial;
    background-color: palegoldenrod;
}
.price {
    color: grey;
    font-size: 22px;
    text-align: center;
    font-size: calc(0.5em + 1vw);
}
.card a {
    border: none;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-family: Comic Sans MS;
}
.card a:hover {
    opacity: 0.7;
    text-decoration: none;
}
section .fa {
    padding: 1%;
    font-size: 100%;
    width: 7%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    position: relative;
    left: 26%;
    border-radius: 50px;

}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
article {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
input[type=text],.mail, textarea ,.phone {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #125688;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: gray;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #125688;
    color: white;
    text-align: center;
}
#foot {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 380px;
}
body,p{
    font-size: calc(0.5em + 1vw);
}
h1{
    font-size: 180%;
}
.remove {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    font-weight: bold;

}
.remove:hover{
    text-decoration: none;
    background-color: darkred;
}
.u-full-width {
    box-sizing: border-box;
}
#shopping-cart{

    position: absolute;
    left:15%;
    top:80%;
    color: black;
    font-family: Comic Sans MS;
    z-index: 1;
    background-color: white;
    padding: 15px 30px;
    min-height: 180px;
    min-width: 300px;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;
}

#pedi{
    padding-right: 20px;
}

#shopping-cart a{
    color: black;
}
#shopping-cart th div{
    padding: 20px;
}
.button-cl{
    background-color: lightskyblue;
    padding: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.button-cl:hover{
    text-decoration: none;
    background-color: aquamarine;
}
.total{
    position:relative;
    left:38%;
    width: 400px;
    padding:40px;
    color: black;
    font-family: Comic Sans MS;
    background-color: white;
}
.total td{
    padding:5px;
}